<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="fun.jinying.infrastructure.persistence.MyFeedRepository.FeedMapper">
    <insert id="saveRepostFeed" parameterType="fun.jinying.domain.feed.RepostFeed">

    </insert>
    <select id="" >

    </select>
</mapper>